Projects/clients_that_use_web_services/test_console_app_that_calls_soap2/src/main/java/org/example/soap/buspassservice.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.squash.hccis.ca/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.squash.hccis.ca/" name="BusPassServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.squash.hccis.ca/" schemaLocation="http://localhost:8083/buspassservice?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBusPass">
<part name="parameters" element="tns:getBusPass"></part>
</message>
<message name="getBusPassResponse">
<part name="parameters" element="tns:getBusPassResponse"></part>
</message>
<message name="getBusPasses">
<part name="parameters" element="tns:getBusPasses"></part>
</message>
<message name="getBusPassesResponse">
<part name="parameters" element="tns:getBusPassesResponse"></part>
</message>
<message name="getCount">
<part name="parameters" element="tns:getCount"></part>
</message>
<message name="getCountResponse">
<part name="parameters" element="tns:getCountResponse"></part>
</message>
<portType name="BusPassService">
<operation name="getBusPass">
<input wsam:Action="http://soap.squash.hccis.ca/BusPassService/getBusPassRequest" message="tns:getBusPass"></input>
<output wsam:Action="http://soap.squash.hccis.ca/BusPassService/getBusPassResponse" message="tns:getBusPassResponse"></output>
</operation>
<operation name="getBusPasses">
<input wsam:Action="http://soap.squash.hccis.ca/BusPassService/getBusPassesRequest" message="tns:getBusPasses"></input>
<output wsam:Action="http://soap.squash.hccis.ca/BusPassService/getBusPassesResponse" message="tns:getBusPassesResponse"></output>
</operation>
<operation name="getCount">
<input wsam:Action="http://soap.squash.hccis.ca/BusPassService/getCountRequest" message="tns:getCount"></input>
<output wsam:Action="http://soap.squash.hccis.ca/BusPassService/getCountResponse" message="tns:getCountResponse"></output>
</operation>
</portType>
<binding name="BusPassServiceImplPortBinding" type="tns:BusPassService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getBusPass">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBusPasses">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BusPassServiceImplService">
<port name="BusPassServiceImplPort" binding="tns:BusPassServiceImplPortBinding">
<soap:address location="http://localhost:8083/buspassservice"></soap:address>
</port>
</service>
</definitions>